In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
import time

In [3]:

%%time
time.sleep(2) # This 2 second idle time in code
print("Hello!")

Hello!
CPU times: total: 0 ns
Wall time: 2 s

In [4]:
def simple_intrest(p, n, r):
    print("Simple Intrest function started")
    time.sleep(2)
    i = (p*n*r)/100
    a = p + i
    print(f"Simple Intrest : {i:.2f} INR")
    print(f"Amount : {a:.2f} INR")
    print("Simple Intrest function Completed")

In [5]:
%%time
simple_intrest(p=50000, n=4, r=6.5)

Simple Intrest function started
Simple Intrest : 13000.00 INR
Amount : 63000.00 INR
Simple Intrest function Completed
CPU times: total: 0 ns
Wall time: 2 s

In [6]:
def hypotenuse(a, b):
    print("Hypotenuse function started")
    time.sleep(3)
    h = (a**2 + b**2)**(1/2)
    print(f"Hypotenuse of Sides {a} and {b} is : {h:.4f}")
    print("Hypotenuse function completed")

In [7]:
%%time
hypotenuse(4, 5)

Hypotenuse function started
Hypotenuse of Sides 4 and 5 is : 6.4031
Hypotenuse function completed
CPU times: total: 0 ns
Wall time: 3 s

In [8]:
%%time
simple_intrest(p=67000, n=5, r=7.1)
hypotenuse(5, 6)

Simple Intrest function started
Simple Intrest : 23785.00 INR
Amount : 90785.00 INR
Simple Intrest function Completed
Hypotenuse function started
Hypotenuse of Sides 5 and 6 is : 7.8102
Hypotenuse function completed
CPU times: total: 0 ns
Wall time: 5 s

In [9]:
from threading import Thread

In [10]:
%%time
# Create the individual threads and assign target function
th1 = Thread(target=simple_intrest, args=(58000, 6, 7.1))
th2 = Thread(target=hypotenuse, args=(7, 8))

# Start the threads
th1.start()
th2.start()

# Wait for all threads to finish
th1.join()
th2.join()

Simple Intrest function started
Hypotenuse function started
Simple Intrest : 24708.00 INR
Amount : 82708.00 INR
Simple Intrest function Completed
Hypotenuse of Sides 7 and 8 is : 10.6301
Hypotenuse function completed
CPU times: total: 0 ns
Wall time: 3.02 s

In [11]:

(5-3)/5

0.4

In [12]:

def square(n):
    time.sleep(1)
    s = n**2
    print(f"Square of number {n} is : {s}\n\n")

In [13]:
%%time
square(5)

Square of number 5 is : 25


CPU times: total: 0 ns
Wall time: 1 s

In [14]:
# Single Threaded function
def square_list(a: list[int|float]):
    for i in a:
        square(i)

In [15]:
a = [2, 3, 4, 5, 6, 7]
len(a)

6

In [16]:
%%time
square_list(a)

Square of number 2 is : 4


Square of number 3 is : 9


Square of number 4 is : 16


Square of number 5 is : 25


Square of number 6 is : 36


Square of number 7 is : 49


CPU times: total: 15.6 ms
Wall time: 6.01 s

In [17]:
# Multithreading
def multi_squares(a: list[int, float]):
    # Create threads for each value and start
    threads = []
    for i in a:
        th = Thread(target=square, args=(i,))
        th.start()
        threads.append(th)

    # Wait for all threads to finish
    for th in threads:
        th.join()

In [18]:
a

[2, 3, 4, 5, 6, 7]

In [19]:
%%time
multi_squares(a)

Square of number 2 is : 4

Square of number 5 is : 25


Square of number 6 is : 36


Square of number 7 is : 49


Square of number 3 is : 9


Square of number 4 is : 16



CPU times: total: 0 ns
Wall time: 1.02 s

In [20]:
b = list(range(1, 101))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [21]:

%%time
multi_squares(b)

Square of number 3 is : 9

Square of number 22 is : 484


Square of number 37 is : 1369


Square of number 58 is : 3364


Square of number 49 is : 2401


Square of number 26 is : 676


Square of number 87 is : 7569


Square of number 65 is : 4225


Square of number 47 is : 2209


Square of number 69 is : 4761


Square of number 66 is : 4356


Square of number 91 is : 8281


Square of number 70 is : 4900


Square of number 46 is : 2116


Square of number 92 is : 8464


Square of number 99 is : 9801


Square of number 50 is : 2500


Square of number 59 is : 3481


Square of number 54 is : 2916


Square of number 88 is : 7744


Square of number 60 is : 3600


Square of number 25 is : 625


Square of number 57 is : 3249


Square of number 78 is : 6084


Square of number 85 is : 7225


Square of number 77 is : 5929


Square of number 73 is : 5329


Square of number 82 is : 6724


Square of number 81 is : 6561


Square of number 86 is : 7396


Square of number 89 is : 7921


Square of number 90 is : 8100


Square of number 95 is : 9025


Square of number 2 is : 4


Square of number 64 is : 4096


Square of number 68 is : 4624


Square of number 1 is : 1


Square of number 9 is : 81


Square of number 13 is : 169


Square of number 67 is : 4489


Square of number 10 is : 100


Square of number 71 is : 5041



Square of number 14 is : 196


Square of number 53 is : 2809


Square of number 18 is : 324


Square of number 74 is : 5476


Square of number 45 is : 2025


Square of number 42 is : 1764


Square of number 41 is : 1681


Square of number 61 is : 3721


Square of number 34 is : 1156


Square of number 30 is : 900


Square of number 38 is : 1444


Square of number 33 is : 1089


Square of number 29 is : 841


Square of number 5 is : 25


Square of number 6 is : 36


Square of number 17 is : 289


Square of number 21 is : 441


Square of number 98 is : 9604


Square of number 97 is : 9409


Square of number 36 is : 1296


Square of number 15 is : 225


Square of number 83 is : 6889


Square of number 39 is : 1521


Square of number 63 is : 3969


Square of number 93 is : 8649


Square of number 40 is : 1600


Square of number 94 is : 8836


Square of number 100 is : 10000


Square of number 11 is : 121


Square of number 12 is : 144


Square of number 7 is : 49


Square of number 75 is : 5625


Square of number 8 is : 64


Square of number 76 is : 5776


Square of number 35 is : 1225


Square of number 84 is : 7056


Square of number 16 is : 256


Square of number 23 is : 529


Square of number 52 is : 2704


Square of number 27 is : 729


Square of number 79 is : 6241


Square of number 62 is : 3844


Square of number 48 is : 2304


Square of number 19 is : 361


Square of number 24 is : 576


Square of number 4 is : 16


Square of number 72 is : 5184


Square of number 80 is : 6400


Square of number 43 is : 1849


Square of number 20 is : 400


Square of number 56 is : 3136


Square of number 55 is : 3025


Square of number 32 is : 1024


Square of number 28 is : 784


Square of number 44 is : 1936


Square of number 51 is : 2601


Square of number 96 is : 9216


Square of number 31 is : 961


CPU times: total: 93.8 ms
Wall time: 1.12 s

In [22]:
urls = [
    "https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/data.csv",
    "https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/test.csv",
    "https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/train.csv"
]

In [23]:

urls

['https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/data.csv',
 'https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/test.csv',
 'https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/train.csv']

In [24]:
urls[0]

'https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/data.csv'

In [25]:
urls[0].split("/")

['https:',
 '',
 'raw.githubusercontent.com',
 'utkarshg1',
 'mlproject_regression',
 'main',
 'artifacts',
 'data.csv']

In [26]:
urls[0].split("/")[-1]

'data.csv'

In [27]:
from urllib.request import urlretrieve

In [28]:
def download_file(url: str):
    filename = url.split("/")[-1]
    print(f"File {filename} download started ...")
    urlretrieve(url, filename)
    print(f"File {filename} download complete")

In [29]:
# Single threading
def download_multiple_files(urls : list[str]):
    for i in urls:
        download_file(i)

In [30]:

urls

['https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/data.csv',
 'https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/test.csv',
 'https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/train.csv']

In [31]:
%%time
download_multiple_files(urls)

File data.csv download started ...
File data.csv download complete
File test.csv download started ...
File test.csv download complete
File train.csv download started ...
File train.csv download complete
CPU times: total: 172 ms
Wall time: 4.26 s

In [32]:
# Multithreading
def download_multithread(urls: list[str]):
    # Create and start threads
    threads = []
    for i in urls:
        th = Thread(target=download_file, args=(i,))
        th.start()
        threads.append(th)

    # Wait for all threads to complete
    for th in threads:
        th.join()

In [33]:
urls

['https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/data.csv',
 'https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/test.csv',
 'https://raw.githubusercontent.com/utkarshg1/mlproject_regression/main/artifacts/train.csv']

In [34]:
%%time
download_multithread(urls)

File data.csv download started ...
File test.csv download started ...
File train.csv download started ...
File test.csv download complete
File data.csv download complete
File train.csv download complete
CPU times: total: 312 ms
Wall time: 1.95 s

In [35]:
(4.26 - 1.3)/4.26

0.6948356807511737

In [36]:
import pandas as pd
df = pd.read_csv("data.csv")
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [37]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [38]:
df.groupby(by= "cut") \
    .agg({"price": "mean"}) \
    .sort_values(by= "price", ascending=False) \
    .round(2)

             price
cut
Fair       4810.50
Premium    4797.06
Good       4191.47
Very Good  4165.30
Ideal      3396.19