In [1]:
a = 23
print(type(a))

<class 'int'>

In [2]:
b = 45
print(type(b))

<class 'int'>

In [3]:
c = [1, 2, 3, 4, 5]
print(type(c))

<class 'list'>

In [4]:
c.append(10)

In [5]:
c

[1, 2, 3, 4, 5, 10]

In [6]:
d = {
    101: "Utkarsh",
    102: "Rahul",
    103: "Raman"
}
print(type(d))

<class 'dict'>

In [7]:
emp = {
    "id": [101, 102, 103],
    "name": ["Raman", "Rahul", "Aditi"],
    "dept": ["HR", "Sales", "Engg."],
    "sal": [27000, 32000, 48000]
}

In [8]:
type(emp)

dict

In [9]:
import pandas as pd
df = pd.DataFrame(emp)

In [10]:
df

    id   name   dept    sal
0  101  Raman     HR  27000
1  102  Rahul  Sales  32000
2  103  Aditi  Engg.  48000

In [11]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [12]:
df.shape

(3, 4)

In [13]:
df.columns

Index(['id', 'name', 'dept', 'sal'], dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [15]:
df.dtypes

id       int64
name    object
dept    object
sal      int64
dtype: object

In [16]:
df.values

array([[101, 'Raman', 'HR', 27000],
       [102, 'Rahul', 'Sales', 32000],
       [103, 'Aditi', 'Engg.', 48000]], dtype=object)

In [17]:
type(df.values)

numpy.ndarray

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   name    3 non-null      object
 2   dept    3 non-null      object
 3   sal     3 non-null      int64
dtypes: int64(2), object(2)
memory usage: 228.0+ bytes

In [19]:
df.sort_values(by="sal", ascending=False)

    id   name   dept    sal
2  103  Aditi  Engg.  48000
1  102  Rahul  Sales  32000
0  101  Raman     HR  27000

In [20]:
df.agg({"sal": ["sum", "mean"]})

                sal
sum   107000.000000
mean   35666.666667

In [21]:
df.head(2)

    id   name   dept    sal
0  101  Raman     HR  27000
1  102  Rahul  Sales  32000

In [22]:
class Person:

    # Store the attributes of class in constructor function
    def __init__(self, name, age, gender, occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    # You can create as many functions as you want in above
    def introduce(self):
        print(f"My name is {self.name}")
        print(f"I am {self.age} years old")
        print(f"I am {self.gender}")
        print(f"I work as a {self.occupation}")

In [23]:
p1 = Person("Utkarsh", 30, "Male", "Engineer")
p1

In [24]:
print(type(p1))

<class '__main__.Person'>

In [25]:
p1.name

'Utkarsh'

In [26]:
p1.age

30

In [27]:
p1.gender

'Male'

In [28]:
p1.occupation

'Engineer'

In [29]:
p1.occupation = "Data Scientist"

In [30]:
p1.occupation

'Data Scientist'

In [31]:
p1.introduce()

My name is Utkarsh
I am 30 years old
I am Male
I work as a Data Scientist

In [32]:
p2 = Person(name="Aditi", age=28, gender="Female", occupation="HR")
type(p2)

__main__.Person

In [33]:
p2.name

'Aditi'

In [34]:
p2.introduce()

My name is Aditi
I am 28 years old
I am Female
I work as a HR

In [35]:

p3 = Person(30, "Raman", "Sales", 124)

In [37]:
p3.introduce()

My name is 30
I am Raman years old
I am Sales
I work as a 124

In [38]:
from dataclasses import dataclass
from typing import Literal

In [39]:
@dataclass
class Person2:
    name: str
    age: int
    gender: Literal["male", "female"]
    occupation: str

    def __post_init__(self):
        errors = []

        if type(self.name) != str:
            errors.append("Name should be a string")
        if type(self.age) != int or (self.age <= 0):
            errors.append("Age should be a positive integer")
        if self.gender not in ["male", "female"]:
            errors.append("Gender should be either male or female")
        if type(self.occupation) != str:
            errors.append("Occupation should be a string")

        if errors:
            raise ValueError("\n".join(errors))
        
    def intro(self):
        print(f"My name is {self.name}")
        print(f"I am {self.age} years old")
        print(f"I am {self.gender}")
        print(f"I work as {self.occupation}")

In [40]:
p4 = Person2(name= "Rahul", age=35, gender="male", occupation="Purchase")
p4

Person2(name='Rahul', age=35, gender='male', occupation='Purchase')

In [41]:
type(p4)

__main__.Person2

In [42]:
p4.intro()

My name is Rahul
I am 35 years old
I am male
I work as Purchase

In [43]:
p6 = Person2(name="Priyanka", age=38, gender="female", occupation="Engg.")

In [44]:
p6.intro()

My name is Priyanka
I am 38 years old
I am female
I work as Engg.

In [45]:
@dataclass
class Account:
    ac_no: int
    name: str
    bal: float

    def __post_init__(self):
        errors = []

        if type(self.ac_no) != int or self.ac_no <= 0:
            errors.append("Account number should be postive integer")
        if type(self.name) != str or len(self.name) == 0:
            errors.append("Name should be a string and should not be blank")
        if type(self.bal) != float:
            errors.append("Balance should be a float type")

        if errors:
            raise ValueError("\n".join(errors))
        
    def check_balance(self):
        print(f"Current balance in {self.ac_no} is {self.bal:.2f} INR")

    def deposit(self, amt: float):
        self.bal = self.bal + amt
        print(f"Amount of {amt:.2f} INR deposited in {self.ac_no}")

    def withdraw(self, amt: float):
        if self.bal < amt:
            raise ValueError("Insufficient balance!")
        else:
            self.bal = self.bal - amt
            print(f"Amount of {amt:.2f} INR withdraw from {self.ac_no}")

    def transfer(self, amt: float, ac2):
        self.withdraw(amt)
        ac2.deposit(amt)

In [46]:
ac1 = Account(ac_no=1234, name="Raman", bal=3000.0)

In [47]:
ac1

Account(ac_no=1234, name='Raman', bal=3000.0)

In [48]:
ac1.ac_no

1234

In [49]:
ac1.bal

3000.0

In [50]:
ac1.name

'Raman'

In [51]:
ac1.check_balance()

Current balance in 1234 is 3000.00 INR

In [52]:
ac1.deposit(500.0)

Amount of 500.00 INR deposited in 1234

In [53]:
ac1.check_balance()

Current balance in 1234 is 3500.00 INR

In [54]:
ac1.withdraw(4000.0)

ValueError: Insufficient balance!

In [55]:
ac1.check_balance()

Current balance in 1234 is 3500.00 INR

In [56]:

ac1.withdraw(700.0)

Amount of 700.00 INR withdraw from 1234

In [57]:
ac1.check_balance()

Current balance in 1234 is 2800.00 INR

In [58]:
ac2 = Account(ac_no=7890, name="Priya", bal=1000.0)
ac2

Account(ac_no=7890, name='Priya', bal=1000.0)

In [59]:
ac2.ac_no

7890

In [60]:

ac2.name

'Priya'

In [61]:
ac2.bal

1000.0

In [62]:

ac2.check_balance()

Current balance in 7890 is 1000.00 INR

In [63]:
ac1.transfer(800.0, ac2)

Amount of 800.00 INR withdraw from 1234
Amount of 800.00 INR deposited in 7890

In [64]:
ac1.check_balance()

Current balance in 1234 is 2000.00 INR

In [65]:
ac2.check_balance()

Current balance in 7890 is 1800.00 INR

In [66]:
ac1.transfer(5000.0, ac2)

ValueError: Insufficient balance!

In [67]:
ac2.transfer(900.0, ac1)

Amount of 900.00 INR withdraw from 7890
Amount of 900.00 INR deposited in 1234

In [68]:
ac2.check_balance()

Current balance in 7890 is 900.00 INR

In [69]:
ac1.check_balance()

Current balance in 1234 is 2900.00 INR