In [1]:
5/0

ZeroDivisionError: division by zero

In [2]:
"a"/23

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [3]:
a = "23"
type(a)

str

In [4]:
b = int(a)
type(b)

int

In [5]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [6]:
float("12.5")

12.5

In [7]:
float("12.a")
print("Hello World!")

ValueError: could not convert string to float: '12.a'

In [1]:
def division():
    num = float(input("Please enter a numerator : "))
    den = float(input("Please enter denominator : "))
    return num / den

In [2]:
# num = 12, den = 4
division()

3.0

In [3]:
# num = 10, den = 0
division()

ZeroDivisionError: float division by zero

In [4]:
# num - "a"
division()

ValueError: could not convert string to float: 'a'

In [5]:
# num - 14, den - blank (No Input)
division()
print(3*4)

ValueError: could not convert string to float: ''

In [6]:
def division2():
    try:
        num = float(input("Please enter numerator : "))
        den = float(input("Please enter denominator : "))
        return num/den
    except Exception as e:
        print(f"Exception occured : {e}")

In [7]:
# Num = 18, Den = 8
division2()

2.25

In [8]:
# Num = 100, den = 0
division2()
print("Done!")

Exception occured : float division by zero
Done!

In [9]:
# Num = 12, Den = "b"
division2()
print(4/3)

Exception occured : could not convert string to float: 'b'
1.3333333333333333

In [10]:

# Num = blank
division2()
print("Example")

Exception occured : could not convert string to float: ''
Example

In [11]:
def division3():
    try:
        num = float(input("Please enter numerator : "))
        den = float(input("Please enter denominator : "))
        return num / den
    except ZeroDivisionError:
        print("Denominator of division cannot be zero")
    except ValueError:
        print("Alphabets and blank values are invalid input")

In [12]:
# num - 23, den - 7
division3()

3.2857142857142856

In [13]:
# num = 40, den = 0
division3()

Denominator of division cannot be zero

In [14]:
# num = 12, den = c
division3()

Alphabets and blank values are invalid input

In [15]:
# num - blank
division3()

Alphabets and blank values are invalid input