In [1]:
5/0

ZeroDivisionError: division by zero

In [2]:
"a"/23

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [3]:
a = "23"
type(a)

str

In [4]:
b = int(a)
type(b)

int

In [5]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [6]:
float("12.5")

12.5

In [7]:
float("12.a")
print("Hello World!")

ValueError: could not convert string to float: '12.a'

In [1]:
def division():
    num = float(input("Please enter a numerator : "))
    den = float(input("Please enter denominator : "))
    return num / den

In [2]:
# num = 12, den = 4
division()

3.0

In [3]:
# num = 10, den = 0
division()

ZeroDivisionError: float division by zero

In [4]:
# num - "a"
division()

ValueError: could not convert string to float: 'a'

In [5]:
# num - 14, den - blank (No Input)
division()
print(3*4)

ValueError: could not convert string to float: ''

In [6]:
def division2():
    try:
        num = float(input("Please enter numerator : "))
        den = float(input("Please enter denominator : "))
        return num/den
    except Exception as e:
        print(f"Exception occured : {e}")

In [7]:
# Num = 18, Den = 8
division2()

2.25

In [8]:
# Num = 100, den = 0
division2()
print("Done!")

Exception occured : float division by zero
Done!

In [9]:
# Num = 12, Den = "b"
division2()
print(4/3)

Exception occured : could not convert string to float: 'b'
1.3333333333333333

In [10]:

# Num = blank
division2()
print("Example")

Exception occured : could not convert string to float: ''
Example

In [11]:
def division3():
    try:
        num = float(input("Please enter numerator : "))
        den = float(input("Please enter denominator : "))
        return num / den
    except ZeroDivisionError:
        print("Denominator of division cannot be zero")
    except ValueError:
        print("Alphabets and blank values are invalid input")

In [12]:
# num - 23, den - 7
division3()

3.2857142857142856

In [13]:
# num = 40, den = 0
division3()

Denominator of division cannot be zero

In [14]:
# num = 12, den = c
division3()

Alphabets and blank values are invalid input

In [15]:
# num - blank
division3()

Alphabets and blank values are invalid input

In [16]:
from math import sqrt

In [17]:
sqrt(16)

4.0

In [18]:
sqrt(36)

6.0

In [19]:

sqrt(-3)

ValueError: math domain error

In [20]:
def square_root(n: int | float) -> float:
    try:
        s = sqrt(n)
    except Exception as e:
        print(f"Exception Occured : {e}")
    else:
        print(f"Square root of given number {n} is {s:.4f}")
        return s
    finally:
        print("Finally block will always get executed")

In [21]:
s1 = square_root(49)

Square root of given number 49 is 7.0000
Finally block will always get executed

In [22]:
s1

7.0

In [23]:
s2 = square_root("abc")

Exception Occured : must be real number, not str
Finally block will always get executed

In [24]:
print(s2)

None

In [25]:
s3 = square_root(-23)

Exception Occured : math domain error
Finally block will always get executed

In [26]:
print(s3)

None

In [27]:
def age_validator() -> int:
    try:
        age = int(input("Please enter age : "))
        if age <= 0 or age >= 120:
            raise ValueError("Age cannot be negative or Greater than 120")
        else:
            print(f"Valid age : {age} entered")
            return age
    except Exception as e:
        print(f"Exception occured : {e}")

In [28]:
a1 = age_validator()

Valid age : 28 entered

In [29]:
a1

28

In [31]:
# age = "abc"
a2 = age_validator()

Exception occured : invalid literal for int() with base 10: 'abc'

In [32]:
# age = -10
a2 = age_validator()

Exception occured : Age cannot be negative or Greater than 120

In [33]:
# age = 200
a2 = age_validator()

Exception occured : Age cannot be negative or Greater than 120

In [34]:
print(a2)

None

In [35]:
# Creating a new file with write mode
with open("example.txt", "w") as f1:
    f1.write("My name is Utkarsh\n")
    f1.write("I work as a data scientist\n")

In [36]:
# Read the file in python
with open("example.txt", "r") as f2:
    content = f2.read()
    print(content)

My name is Utkarsh
I work as a data scientist

In [37]:
# Adding content in file append mode
with open("example.txt", "a") as f3:
    f3.write("My age is 29 years\n")
    f3.write("I work at ETLHive\n")

In [38]:
# Reading all the content from file
with open("example.txt", "r") as f:
    content = f.readlines()
    print(content)

['My name is Utkarsh\n', 'I work as a data scientist\n', 'My age is 29 years\n', 'I work at ETLHive\n']

In [39]:
content

['My name is Utkarsh\n',
 'I work as a data scientist\n',
 'My age is 29 years\n',
 'I work at ETLHive\n']

In [40]:
type(content)

list